$backgroundColor: hsl(185, 75%, 39%);
$primaryTextColor: hsl(229, 23%, 23%);
$secondaryTextColor: hsl(227, 10%, 46%);
$primaryFont: "Kumbh Sans", sans-serif;

<<<<<<< HEAD
$desktop: 1400px;
=======
$desktop: 1000px;
$laptop: 700px;
$tablet: 500px;
$mobile: 375px;
>>>>>>> 599b1ffec893a3a7db0a49b7b6aa9745793b3f61
